<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Home</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/objetivo">Objetivo</a>
      <a href="/desenvolvimento">Desenvolvimento</a>
      <a href="/conclusao">Conclusão</a>
    </nav>
  </header>

  <h1> Página Home </h1>

  <!-- Insira seu conteúdo HTML aqui -->

</body>
</html>
