/* Reset de estilos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  /* Adicione estilos específicos para cada página conforme necessário */
  
  /* Estilos para a página Home */
  body.home {
    background-color: #f7f7f7;
  }
  
  /* Estilos para a página Objetivo */
  body.objetivo {
    background-color: #e6f7ff;
  }
  
  /* Estilos para a página Desenvolvimento */
  body.desenvolvimento {
    background-color: #f2f2f2;
  }
  
  /* Estilos para a página Conclusão */
  body.conclusao {
    background-color: #d9f9b1;
  }
  
  /* Estilos para o conteúdo comum a todas as páginas */
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Estilos para rodapé */
  footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
  }
  